@mixin niceLabelsInputs($hasLabel:true, $hasRequiredAsterisk: true, $marginBottom: 10px) {
  border: 1px solid lightslategray;
  height: 60px;
  margin-bottom: $marginBottom;
  width: 100%;
  float: left;
  display: block;
  position: relative;
  padding-left: 15px;

  @if $hasLabel {
    label {
      font-size: 12px;
      padding: 5px;
      color: dodgerblue;
      z-index: 1;

      /*TODO : if has icon*/
      /*@if $hasIcon {
        .iconfont-question_sign {
          z-index: 2;
          position: absolute;
          right: 5px;
          top: 5px;
          font-size: rem-calc(20);
        }
      }*/
    }

    input {
      height: 20px;
      padding: 5px;
    }
    &:after {
      bottom: -8px;
    }
  }

  @else {
    input {
      height: calc(60px - 3px);
      padding: 10px 5px;
    }
    &:after {
      bottom: 1px;
    }
  }

  input {
    width: calc(100% - 25px);
    -webkit-appearance: none;
    margin-bottom: 0;
    box-shadow: none !important;
    background: transparent;
    resize: none;
    border: 1px solid rgba(255, 255, 255, 0);
    outline: none;
    position: absolute;

    &:focus {
      -webkit-box-shadow: none;
      box-shadow: none;
      outline: none !important;
      background-color: #ffffff;
      border: 1px solid rgba(255, 255, 255, 0);
    }
    &:-webkit-autofill {
      background-color: #ffffff;
      -webkit-box-shadow: 0 0 0 30px white inset !important;
    }
  }
  @if $hasRequiredAsterisk {
    &:after {
      color: red;
      font-size: 25px;
      content: "*";
      right: 7px;
      position: absolute;
    }
  }
  &.focused {
    border-bottom: 2px solid lightgreen;
    z-index: 2;
  }
}

form {
  [data-niceInput]{
    @include niceLabelsInputs($hasLabel:true, $hasRequiredAsterisk: true);
  }
}